* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.product-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  max-width: 1110px;
  width: 100%;
  color: #515076;
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.bg-dandelions {
  background: url("images/bg-dandelions.png");
  background-repeat: no-repeat;
  height: 697px;
  width: 790px;
  z-index: -1;
  left: 0;
  top: -408px;
  position: absolute;
}

.product-card {
  width: 340px;
  height: 573px;
  padding: 25px;
  box-sizing: border-box;
  padding-left: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
}

.product-card__main-title {
  font-size: 70px;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 110px;
  height: 78px;
  color: #515076;
  z-index: 2;
  position: relative;
}

.product-card__img {
  margin-bottom: 30px;
  width: 290px;
  height: 245px;
  object-fit: contain;
}

.product-card__for-skin {
  font-size: 12px;
  color: #A5A3B9;
  text-transform: uppercase;
  line-height: 12px;
  margin: auto;
}

.product-card__title {
  font-size: 20px;
  color: #515076;
}

.product-card__descr {
  font-size: 13px;
  line-height: 18px;
  margin: 5px;
}

.product-card__composition {
  font-size: 13px;
  padding-left: 0;
  line-height: 18px;
  list-style-position: inside;
}

.product-card__ingredients {
  font-size: 13px;
  padding-left: 0;
  margin: 5px;
}

.product-card__item {
  font-size: 13px;
  margin: 5px;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__price-text {
  font-weight: bold;
  font-size: 20px;
}

.product-card__price {
  font-weight: 400;
  font-size: 20px;
}